@use 'style.scss' ;

.therobots {
.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

.main {
    display: flex;
    flex-direction: column;

    h1{
        background-color: rgba(126, 84, 7, 0.568);
        color: white;
        height: 160px;
        width: 310px;
        font-size: 50px;
        padding: 20px 20px 20px 20px;
    }
}

.man {
    margin-top: 40px;
}

p {
    background-color: #b9dfdf;
    color:rgba(0, 0, 0, 0.589) ;
    height: 315px;
    width: 300px;
    margin-top: 50px;
    font-size: 23px;
    padding: 80px 30px 80px 30px;
}

}

}

a {
    text-decoration: none;
    color: black;
    background-color:  #b9dfdf;
    padding: 15px 25px 15px 25px;
    cursor: pointer;
    position: absolute;
    top: 570px;
    left: 590px;
}

a:hover {
    background-color: #84e5e5 ;
}